
/*Declaring global CSS variables*/
:root{
  --cyanblue: #445876;
  --lavender: #ededf6;
  --shark: #31343d; 
  --shelduckblue: #92cccd;
  --pariswhite: #c0c1c0;
  --antiquewhite: #faebd7;
  --turquoisegreen: #2be2ab;

}


/* account for any border and padding for all elements*/
*, :after, :before {
    box-sizing: border-box;
  }

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px auto;
    color: var(--cyanblue);
    background-color: var(--lavender);
}


/* class 'main-header' is to set the background colour for the main header section*/
.main-header {
      background-color: var(--shark);
}

/* Below class is for the display and styling of the main header container */
.main-header .container{
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 20px 40px;
}

/* For the display and styling of header element in the main header container*/    
.main-header .container h1{
    font-size: 50px;
    font-weight: 600;
    color:var(--turquoisegreen);
    text-align: center;
}
/* display and styling for the profile image*/
.main-header .avatar {
  margin-bottom: 1.5rem;
  width: 15%;
  height: 15%;
}

.rounded-circle {
  border-radius: 50%;
}

/* Below classes are for the display and styling of the main nav in the header container*/  

.main-nav ul {
    margin: 1em 0 .5em;
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.main-nav li {
    font-size: 18px;
    display: inline-flex;
    margin-bottom: 1rem;
}
  
.main-nav li:last-child{
    margin-right: 0;
}
  
.main-nav li a {
    color: var(--shelduckblue);
    text-decoration: none;
    padding: .4em;
    border-bottom: 4px solid var(--shelduckblue);
}

  /* Both classes below are for the display and styling of the section below the main header. */

.portfolio-tag{
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 20px 40px;
    margin: 0 auto;
    background-color: var(--pariswhite);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
.portfolio-tag p{  
    font-size: 40px;
    font-weight: 600;
    color: var(--cyanblue);
    padding: 10px;
    background-color: var(--shelduckblue);
  }
 
  /* classes below are for display and styling of the main sections
 'About Me','Work' and 'Contact Me' */

 .portfolio-container{
    padding: 40px;
    max-width: 100%;                                                                                                                                                                                                                                              
}

/* each row section defined */
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0px 0px;
    border: 5px;
    width:100%;
}

.row:first-child {
  padding-top: 0;
}

/* each section has 2 content columns, left and right, CSS defined below */
.left-content{
    display: flex;
    flex:0 0 100%;
    width: 25%;
    justify-content: center;
    margin-bottom: 1rem;
}

.left-content h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cyanblue);
    text-align: right;
}

.right-content{
    display: flex;
    flex-wrap:wrap;
    flex: 0 0 100%;
    width: 75%;
    padding-left: 30px;
    border-left: 3px solid var(--cyanblue);
    padding-bottom: 15px;
   
}

.card-container{
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-flow: row wrap;
}

/* Below are the classes to display and style the different application cards under 'Work'*/
.col {
  margin-bottom: 1rem;
  flex: 0 0 auto;
  width: 100%;
}

.col:first-child {
  max-width: 100%;
  width: 100%;
}

.card{
  display: flex;
  position: relative;
  background-color:var(--antiquewhite);
  flex-direction: column;
  border: 8px solid var(--shelduckblue);
  min-height: 150px;
  box-sizing: border-box;
  
}

/* hover effect of a imaage in the card - increase the brightness */
.card img{
  filter:brightness(70%);
  transition: all 0.5s ease-in-out;
}
.card img:hover {

   filter:brightness(100%);
}

.col:first-child .card{
    max-width: 100%;
    min-height: 400px;
}

.card .app-description {
    background-color: var(--shelduckblue);
    padding: 15px;
    flex: 1 0 auto;
    position: absolute;
    bottom: 20px;
}

.card .app-description h3 {
  padding-bottom: .5rem;
}

/* This is the display and styling for 'Contact Me' section*/
.contact {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.contact li {
  flex: 1;
  font-size: 2rem;
  text-align: center;
  display:inline-flex;
  margin-bottom: 1rem;
}

.contact li a {
  border-bottom: 5px solid var(--cyanblue);
  padding-bottom: .5rem;
  text-decoration: none;
  font-weight: bold;
}

.contact li a:link, .contact li a:visited, .contact li a:active{
  color: var(--cyanblue);
}

/* CSS for Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .main-header .container{
    display: flex;
    justify-content: center;
  }

  .main-nav ul {
    flex-direction: row;
    justify-content: center;
  } 

  .main-nav li {
    display: inline;
    margin-right: .5rem;
  }
  .contact {
    flex-direction: row;
  }

  .contact li {
    display: inline;
    margin-bottom: 0;
  }

}

/* CSS for Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

  .main-header .container{
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 40px;
  } 

  .main-header .avatar {
    margin-bottom: 0;
    width: 8%;
    height: 8%;
  }

  .main-header .container h1{
    padding-left: 2rem;
    text-align: left;
  }
  
  .main-nav {
    flex: 1;
  }

  .main-nav ul {
    text-align: right;
    justify-content: flex-end;
  } 


  .left-content{
    flex:0 0 25%;
    justify-content: right;
    padding-right: 20px;
    margin-bottom: 0;
  }

  .right-content {
    flex: 0 0 75%;
  }

  .col {
    flex:0 0 auto;
    width: 50%;
  }
  
  .right {
    padding-right: 0.5rem;
  }

  .full {
    width: 100%;
    max-width: 100%;
  }



}

