
/*Declaring global CSS variables*/
:root{
  --cyanblue: #445876;
  --lavender: #ededf6;
  --shark: #31343d; 
  --shelduckblue: #92cccd;
  --pariswhite: #c0c1c0;
  --antiquewhite: #faebd7;
  --turquoisegreen: #2be2ab;

}


/* account for any border and padding for all elements*/
*, :after, :before {
    box-sizing: border-box;
  }

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px auto;
    color: var(--cyanblue);
    background-color: var(--lavender);
}


/* class 'main-header' is to set the background colour for the main header section*/
.main-header {
      background-color: var(--shark);
}

/* Below class is for the display and styling of the main header container */
.main-header .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      padding: 20px 40px;
  }
/* For the display and styling of header element in the main header container*/    
.main-header .container h1{
    font-size: 50px;
    font-weight: 600;
    color:var(--turquoisegreen);
    padding-left: 2rem;
  }
/* display and styling for the profile image*/
.avatar {
  display: inline;
}
.rounded-circle {
  border-radius: 50%;
}

/* Below classes are for the display and styling of the main nav in the header container*/  
.main-nav {
  flex-grow: 1;
}

.main-nav ul {
    margin: 1em 0 .5em;
    text-align: right;
  }
.main-nav li {
    display: inline;
    font-size: 18px;
    margin-right: .5rem;
  }
  
.main-nav li:last-child{
    margin-right: 0;
  }
  
.main-nav li a {
    color: var(--shelduckblue);
    text-decoration: none;
    padding: .2em;
    border-bottom: 4px solid var(--shelduckblue);
  }

  /* Both classes below are for the display and styling of the section below the main header. */

.portfolio-tag{
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 20px 40px;
    margin: 0 auto;
    background-color: var(--pariswhite);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
.portfolio-tag p{  
    font-size: 40px;
    font-weight: 600;
    color: var(--cyanblue);
    padding: 10px;
    background-color: var(--shelduckblue);
  }
 
  /* classes below are for display and styling of the main sections
 'About Me','Work' and 'Contact Me' */

 .portfolio-container{
    padding: 40px;
    max-width: 100%;                                                                                                                                                                                                                                              
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0px 0px;
    border: 5px;
    width:100%;
}

.row:first-child {
  padding-top: 0;
}

.left-content{
    display: flex;
    flex:0 0 100%;
    width: 25%;
    justify-content: flex-end;
    padding-right: 20px;
}

.left-content h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cyanblue);
    text-align: right;
}

.right-content{
    display: flex;
    flex-wrap:wrap;
    flex: 0 0 100%;
    width: 75%;
    padding-left: 30px;
    border-left: 3px solid var(--cyanblue);
    padding-bottom: 15px;
   
}
.card-container{
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-flow: row wrap;
}
/* Below are the classes to display and style the different application cards under 'Work'*/
.col {
  margin-bottom: 1rem;
  flex: 0 0 auto;
  width: 100%;
}

.col:first-child {
  max-width: 100%;
  width: 100%;
}

.card{
    display: flex;
    position: relative;
    background-color:var(--antiquewhite);
    flex-direction: column;
    border: 8px solid var(--shelduckblue);
    min-height: 150px;
    box-sizing: border-box;
}

.col:first-child .card{
    max-width: 100%;
    min-height: 400px;
}

.card .app-description {
    background-color: var(--shelduckblue);
    padding: 15px;
    flex: 1 0 auto;
    position: absolute;
    bottom: 20px;
}

.card .app-description h3 {
  padding-bottom: .5rem;
}

/* This is the display and styling for 'Contact Me' section*/
.contact {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.contact li {
  flex: 1;
  font-size: 2rem;
  text-align: center;
}

.contact li a {
  border-bottom: 5px solid var(--cyanblue);
  padding-bottom: .5rem;
  text-decoration: none;
  font-weight: bold;
}

.contact li a:link, .contact li a:visited, .contact li a:active{
  color: var(--cyanblue);
}

/* Display for different screen resolutions*/
@media screen and (min-width: 768px) {

  .left-content{
    flex:0 0 25%;
  }

  .right-content {
    flex: 0 0 75%;
  }

  .col {
    flex:0 0 auto;
    width: 50%;
  }
  
  .col:nth-child(even) {
    padding-right: 1rem;
  }
}

